/* Animate
-- Define common Animate
------------------------------------------------------- */
$transition-speed: 0.3s;

// fade
.hy-fade-enter-active,
.hy-fade-leave-active,
.hy-fade-in-enter-active,
.hy-fade-in-leave-active,
.hy-fadeInRight-enter-active,
.hy-fadeInRight-leave-active,
.hy-fadeInBottom-enter-active,
.hy-fadeInBottom-leave-active,
.hy-fadeInLeft-enter-active,
.hy-fadeInLeft-leave-active,
.hy-fadeInTop-enter-active,
.hy-fadeInTop-leave-active {
	transition: all $transition-speed;
}

.hy-fade-in-enter,
.hy-fade-in-leave-to {
	opacity: 0;
}

.hy-fade-enter,
.hy-fade-leave-to {
	opacity: 0;
	transform: translate(-50%, -100%) !important;
}

.hy-fadeInRight-enter,
.hy-fadeInRight-leave-to {
	opacity: 0;
	transform: translate(100%, 0);
}
.hy-fadeInBottom-enter,
.hy-fadeInBottom-leave-to {
	opacity: 0;
	transform: translate(0, 100%);
}
.hy-fadeInLeft-enter,
.hy-fadeInLeft-leave-to {
	opacity: 0;
	transform: translate(-100%, 0);
}
.hy-fadeInTop-enter,
.hy-fadeInTop-leave-to {
	opacity: 0;
	transform: translate(0, -100%);
}

.hy-fadeOut-leave-to,
.hy-fadeOut-leave-to {
	opacity: 0;
}

.hy-zoom-enter-active,
.hy-zoom-leave-active {
	animation-duration: $transition-speed;
	animation-fill-mode: both;
}

.hy-zoom-enter-active {
	animation-name: zoomIn;
}
.hy-zoom-leave-active {
	animation-name: zoomOut;
}

@keyframes zoomIn {
	0% {
		transform: scale(0.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes zoomOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.2);
		opacity: 0;
	}
}

// 此处提供给modal使用
.v-enter-active,
.v-leave-active {
	transition: opacity $transition-speed;
}
.v-enter,
.v-leave-to {
	opacity: 0;
}
